// ASSETS 
 * {
    font-text:  "Comfortaa 13";
    red:        #E06E6E;
    green:      #8CCF7E;
    yellow:     #E5C76B;
    blue:       #67B0E8;
    magenta:    #C47FD5;
    orange:     #D49474;
    bg:         rgba(24, 31, 33, 0.96);
    fg:         #BDC3C2;
    bga:        #252E30;
    fga:        @bg;
}
